<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect mt-3">
                <img src="https://images.pexels.com/photos/29452562/pexels-photo-29452562/free-photo-of-vibrant-red-outdoor-bench-and-table-in-rain.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-center text-danger">Design</small>
                    <small class="bg-light text-center text-success ml-3">Featured</small>
                    <small class="bg-light text-center text-info ml-3">Views-100</small>
                    <small class="bg-light text-center text-warning ml-3">LAST UPDATE - SEP 20, 2024</small>

                    <h1 class="mt-3 mb-3">Lorem, ipsum dolor sit amet consectetur !</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem vel quod repellendus consectetur, eligendi voluptate.
                        <br><br>
                       Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi modi officiis obcaecati vitae quaerat et, repellat quis doloribus ab alias? sit amet consectetur adipisicing elit. Sequi modi officiis obcaecati vitae quaerat et, repellat quis doloribus ab alias?
                       <br><br>
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aperiam rem corrupti culpa quo soluta, quas nemo tempora voluptatum ab laboriosam! Id doloremque, omnis fugit possimus quos aut tempore veritatis placeat dolore adipisci nemo animi at aperiam nulla et modi, nam dolor rem, soluta excepturi!
                    </p>
                </div>
            </div>
            <app-comment-form></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3 mt-3 mb-3">
            <div class="mb-3">
                <app-post-card></app-post-card>
            </div>
            <div class="mb-3">
                <app-post-card></app-post-card>
            </div>
            <div class="mb-3">
                <app-post-card></app-post-card>
            </div>
            
        </div>
        
    </div>
</div>
