<div class="card">
    <img src="https://images.pexels.com/photos/29410751/pexels-photo-29410751/free-photo-of-charming-old-city-street-at-sunset.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-lihgt text-danger text-center">Design</small>
        <small class="bg-lihgt text-success text-center marg-left">Featured</small>
        <small class="bg-lihgt text-info text-center marg-left">Views -100</small>

        <h5 class="mt-1">Lorem, ipsum dolor sit amet consectetur !</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum fugiat repudiandae aspernatur magni quidem pariatur tempore exercitationem veniam</p>
        <small class="bg-lihgt text-warning text-center ml-3">LAST UPDATE - SEP 20, 2024</small>
    </div>
</div>
